@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*** Works on common browsers ***/
::selection {
    background-color: black;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: black;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: black;
    color: #fff;
}

::-ms-selection {
    background-color: black;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: black;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*-----------------------------------------------------------------------------------------------------*/

section{
    position: relative;
    width: 100%;
 
}

section .register_section{
    background-color: transparent;
    display: flex;
    padding: 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

section .register_section .register_form_content{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 30px;
    width: 50%;
}

section .register_section .register_form_content h2{
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #DC222A;
    display: inline-block;
    letter-spacing: 1px;
}

section .register_section .register_form_content .register_input{
    margin-bottom: 20px;
}

section .register_section .register_form_content .register_input span{
    font-size: 16px;
    margin-bottom: 5px;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

section .register_section .register_form_content .register_input input,section .register_section .register_form_content .register_input select{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 20px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 10px;
}

section .register_section .register_form_content .register_input select::-webkit-scrollbar{
    display: none;
}

section .register_section .register_form_content .register_input input[type="submit"]{
    background: #DC222A;
    color: #ffffff;
    background-size: 200% auto;
    background-image: linear-gradient(45deg, #DC222A 25%, #E99542);
    transition: 0.5s;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .register_section .register_form_content .register_input input[type="submit"]:hover{
    border-radius: 5px;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 15px 40px rgba(220, 34, 42, 0.5);
}

section .register_section .register_form_content .register_input p{
    color: #607d8b;
}

section .register_section .register_form_content .register_input p a{
    color: #DC222A;
    font-weight: bold;
}


/*-----------Media Query---------*/

@media(max-width: 600px){

    section .register_section{
        align-items: center;
        width: 100%;
        height: 100%;
    }

    section .register_section .register_form_content{
        width: 100%;
        margin: 30px;
    }

    section .register_section .register_form_content h2{
        font-weight: 500;
    }

    section .register_section .register_form_content .register_input span{
        font-size: 15px;
    }

    section .register_section .register_form_content .register_input input,section .register_section .register_form_content .register_input select{
        padding: 5px 10px;
        font-weight: 400;
        font-size: 15px;
    }
}
